<h1><%= @equipment.title %></h1>
<p><%= @equipment.user.name %></p>
<p><%= @equipment.category %></p>

<%= link_to "Home", root_path %>
<%= link_to "All Equipment", equipment_index_path %>
<%= link_to equipment_path(@equipment), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@equipment.title}?"} do %>
  <%= "Delete" %>
<% end %>
